:root {
    --main-str-color: #00CED1;
    --header-background-color: #4682B4;
    --ceil-color: #00CED1;
}

header {
    background-color: var(--header-background-color);
    padding: 20px;
}

.mainstr {
    text-align: left;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 55px;
    color: var(--main-str-color);
}

body {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
  }
html,
body {
    height: 100%;
}

.parameters {
    text-align: center;

}

body {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan {
    text-align: left;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: var(--main-str-color);
}
.search {
    height: 25px;
    margin: 5px;
    border-radius: 15px;
    background-color: var(--ceil-color);
}
.logo {
    margin-right: 30px;
    margin-bottom: 5px;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 0 -5px;
}

.advertise {
    height: 100px;
    border-radius: 25px;
    padding: 15px;
    background-color: var(--header-background-color);
    margin: 25px;
}

@media (max-width: 750px) {
    .mainstr {
        font-size: 150%;
    }
    .slogan {
        font-size: 80%;
    }
}

.player {
    text-align: center;
    margin-top: 100px;
    
}

.video {
    height: 500px;
    width: 700px;
    border-radius: 30px;
}
.aside-advertising {
    background-color: var(--header-background-color);
    height: 100px;
}
.header_on_player {
    height: 100px;
}
#titleofvideo {
    text-align: left;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 55px;
    color: var(--main-str-color);
}
/* EDIT OF VIDEO CARD */
.video_card {
    height: 250px;
    width: 500px;
    background-color: var(--header-background-color);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}
.video_preview {
    height: 200px;
    width: 300px;
    border-radius: 15px;
}
