header {
    background-color: #4682B4;
    padding: 20px;
}

.mainstr {
    text-align: left;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 55px;
    color: #00CED1;
}

body {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
}



* {
    margin: 0;
    padding: 0;
  }
html,
body {
    height: 100%;
}

.parameters {
    text-align: center;

}

body {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
}

.blockofsearch {
    background-color: #00CED1;
    padding: 15px;
    border-radius: 25px;
}


.slogan {
    text-align: left;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: #00CED1;
}
.search {
    height: 25px;
    margin: 5px;
    border-radius: 15px;
    background-color: aqua;
}
.logo {
    margin-right: 30px;
    margin-bottom: 5px;
}
.container {
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    margin: 0 -5px;
}
.preview {
    background-color: #00CED1;
    flex-grow: 1;
    flex: 1 1 auto;
    margin: 0 5px;
    
}
.wrap {
    height: 10px;
}
.advertise {
    height: 100px;
    border-radius: 25px;
    padding: 15px;
    background-color: aqua;
    margin: 25px;
}
#0 {
    background-image: linear-gradient(black, white);
    background-image: url("previews/poster_1714040004607220.jpg");
}